{% load static %}  
<!DOCTYPE html>  
<html>
<head>
    <title>Login</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">  
</head>
<body>
    <div class="container"> 
    
    <h2>Login</h2>
    <form class="form-group" action="{% url 'login' %}" method="POST">
      {% csrf_token %} {% comment %} hidden input {% endcomment %}
      <input type="hidden" name="next" value="{{ next }}" />
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Login</button>
    </form>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <p>
      Don't have an account?
      <a href="{% url 'register' %}">Register here</a>
    </p>
    <div>
  </body>
</html>
