{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Logout</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/styles.css' %}"
    />
  </head>
  <body>
    <div class="container">
        <h2> Logout</h2>
       <p> Are you sure you want to logout? </p>
        <form  action="{% url 'logout' %}" method='POST'>
            {% csrf_token %}
            <button type="submit">Logout</button>
            <a href="{% url 'home' %}">Cancel</a>
        </form>
    </di>
    
  </body>
</html>
