{% extends "envApp/layout.html" %}
 {% block title %}Home{% endblock title %}
  {% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the Inventory App</h1>
  <p class="lead"> Manage your products efficiently and effectively</p>
  <hr class="my-4">
<p>Use the navigation bar to add, view, update or delete products from your inventory.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'product_list' %}" role="button">View Products</a>
</div>

{% endblock %}
